<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/Catagory.css" />
    <title>Admin panel</title>
  </head>

  <body>
    <div class="container">
      <div class="topbar">
        <div class="logo">
          <h2>SaveWallet</h2>
        </div>
        <div class="search">
          <input type="text" name="search" placeholder="search here" />
          <label for="search"><i class="fas fa-search"></i></label>
        </div>
        <i class="fas fa-bell"></i>
        <div class="user">
          <img src="/img/user.png" alt="" />
        </div>
      </div>
      <div class="sidebar">
        <ul>
          <li>
            <a href="/home">
              <i class="fas fa-th-large"></i>
              <div>Dashboard</div>
            </a>
          </li>

          <li>
            <a href="/Catagory">
              <i class="bi bi-folder"></i>
              <div>Catagory</div>
            </a>
          </li>
          <li>
            <a href="/Transection">
              <i class="bi bi-arrow-left-right"></i>
              <div>Transection</div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-cog"></i>
              <div>Settings</div>
            </a>
          </li>
          <li>
            <a href="/logout">
              <!-- <i class="fas fa-arrow-left"></i> -->
              <i class="bi bi-box-arrow-left"></i>
              <div>LogOut</div>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="main">
        <% if(action == "add"){%>
            <div class="card">
                <div class="card-header">Add Transaction</div>
                <div class="card-body">
                  <form action="/addTransaction" method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label >Date</label>
                          <input type="datetime-local" name="exdate" id="exdate" required class="form-control"/>
                        </div>
                        <div class="mb-3">
                          <label >Catagory Name</label>
                          <select class="form-select" name="catname" required id="inputGroupSelect01">
                            <% if(Data.length>0){ for(let i=0;i < Data.length ; i++){%>
                              <option value="<%=Data[i].ctgName%>"><%=Data[i].ctgName%></option>
                              <%}}%>
                            <!-- <option value="Expense"><%=Data.length%></option>
                            <option value="Income">Income</option> -->
                          </select>
                        </div>
                      <div class="mb-3">
                        <label >Amount</label>
                        <input type="number" name="examount" id="examount" required class="form-control"/>
                      </div>
                      <div class="mb-3">
                        <label >Note</label>
                        <input type="text" name="exdes" id="exdes" required class="form-control"/>
                      </div>
                    </div>
                    <div class="mb-3">
                      <input type="submit" name="submit_button" class="btn btn-primary" value="Add"/>
                    </div>
                  </form>
                </div>
              </div>
            <%} else if(action == "edit"){%>
              <div class="card">
                <div class="card-header">Edit Form</div>
                <div class="card-body">
                  <form action="/edit/<%=Data.ctgId%>" method="post">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label >Id</label>
                          <input type="text" name="catid" id="id" value="<%=Data.ctgId%>" class="form-control" disabled/>
                        </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                          <label >Catagory Name</label>
                          <input type="text" name="catname" id="email" value="<%= Data.ctgName%>" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                              <label >Catagory Name</label>
                              <select class="form-select" name="cattype" id="inputGroupSelect01">
                         
                                <option value="Expense">Expense</option>
                                <option value="Income">Income</option>
                                
                              </select>
                            </div>
                    </div>
                    </div>
                    <div class="mb-3">
                      <input type="submit" name="submit_button" class="btn btn-primary" value="Edit"/>
                    </div>
                  </form>
                </div>
              </div>
                <%} else{%>
        <div class="container">
            <div class="row">
              <div class="col align-self-start">
               <h1> Transactions</h1> 
              </div>
              <div class="col align-self-end">
                <a href="/addTransaction" class="btn btn-primary">+Add Transection</a>
              </div>
            </div>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Catagory</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Action</th>
                </tr>
               
                  <% if(Data.length>0){ for(let i=0;i < Data.length ; i++){%>
                    <tr>
                      <td><%=catagory[i]%></td>
                      <td><%= Data[i].exDate%></td>
                      <td><%=Data[i].exAmount%></td>
                      <td>
                        <a href="/editTransaction/<%= Data[i].exId%>" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/deleteTransaction/<%= Data[i].exId%>" class="btn btn-danger btn-sm">Delete</a>
                      </td>
                    </tr>
                    <% }} else { %>
                    <tr>
                      <td colspan="5">no data found</td>
                    </tr>
                    <% } %>
            </table>
        </div>
      </div>
          <!-- extra
          <div>hello</div> -->
          
          <!-- <div class="chart doughnut-chart" >hello</div> -->
          <%}%>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
    <script src="/chart1.js"></script>
    <script src="/chart2.js"></script>
  </body>
</html>
